/***** ALL *****/
body {
  margin: 0;

  font-family: 'Lato', sans-serif;
}

/* Grid System */
.row > .col {
  padding: 0 6px;
}

.row {
  display: block;
}

.col {
  float: left;

  width: 20%;
}

/* Headings */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

/***** HEADER *****/
/* All */
.navbar {
  top: 0;
  position: fixed;

  margin: 0;
  padding: .5%;

  width: 100%;
  height: 10%;
  line-height: 80%;

  background: lightgray;
  border-bottom: 1px solid #444444;
}

/* Logo */
#header-logo {
  position: relative;
  float: left;

  margin-top: 1.5%;
  padding-right: 2%;
  padding-left: 2%;

  width: 10%;
}

/* Title */
#header-title {
  text-align: center;

  -webkit-transform: translateX(-7%);
  -moz-transform: translateX(-7%);
  -ms-transform: translateX(-7%);
  -o-transform: translateX(-7%);
  transform: translateX(-7%);
}

/***** SEARCH *****/
/* All */
#search {
  text-align: center;

  margin-top: 100px;
  margin-bottom: 2%;
}

/* Input */
#search-term {
  text-align: center;
  font-size: 1.25em;

  line-height: 2.5em;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: .3%;
  border: 2.5px dotted lightgrey;
  border-radius: 20px;
}

/* Submit */
#search-submit {
  font-size: 1.25em;
  line-height: 2.5em;
  padding: .4% 1.5%;
  border: none;
  border-radius: 20px;

  color: #444444;
  background-color: #e54a1f;

  -webkit-transition: all .5s cubic-bezier(.10, .10, .25, .90);
  -moz-transition: all .5s cubic-bezier(.10, .10, .25, .90);
  -ms-transition: all .5s cubic-bezier(.10, .10, .25, .90);
  -o-transition: all .5s cubic-bezier(.10, .10, .25, .90);
  transition: all .5s cubic-bezier(.10, .10, .25, .90);
}
#search-submit:hover {
  cursor: pointer;

  color: white;
  background-color: #ff6135;
}

/***** GALLERY *****/
/* All */
#gallery-outer {
  text-align: center;
}

#gallery-inner {
  margin-right: 0;
  /* text-align: center; */
}

/* Title */
#gallery-title {
  /* text-align: center; */
  padding: 4%;

  border-bottom: 1px solid #444444;
}

/* Thumbnails */
li {
  display: inline;

  list-style: none;
}

img {
  max-width: 40%;

  opacity: 1;
  transition: opacity 0.75s cubic-bezier(.10, .10, .25, .90);
}
img[data-src] {
  background-color: lightgrey;
  opacity: 0.1;
}

.gallery-thumbnail {
  text-align: center;
  float: left;

  width: 10%;
  min-width: 100px;

  padding-top: 2%;
  padding-bottom: 2%;

  opacity: .6;
  transition: all .3s cubic-bezier(.10, .10, .25, .90);
}
.gallery-thumbnail:hover {
  cursor: pointer;

  opacity: 1;
}

/***** LIGHTBOX *****/
/* All - Modal */
.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;

  padding-top: 10%;

  height: 100%;
  width: 100%;
  overflow: auto;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  transition: all .3s cubic-bezier(.10, .10, .25, .90);
}

/* Slide */
.slide img {
  max-width: 100%;
}
.slide-position {
  text-align: left;

  margin-top: 5%;
  margin-left: 5%;
}
.slide-title {
  text-align: right;

  margin-right: 5%;

  color: lightgrey;
}

/* Close */
.close {
  position: absolute;
  top: 2%;
  right: 2%;

  font-size: 3em;
  font-weight: bold;

  color: #bbb;

  opacity: 0.6;
  transition: all 0.3s ease;
}
.close:hover {
  cursor: pointer;

  color: white;

  opacity: 1;
}

/* Prev / Next */
.previous,
.next {
  position: absolute;
  top: 50%;

  width: auto;
  padding: 16px;
  margin-top: -50px;

  cursor: pointer;

  font-size: 3em;
  font-weight: bold;

  color: #444444;

  transition: 0.4s ease;
  opacity: 0.7;

  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}
.next:hover {
  color: white;

  opacity: 1;
}

.previous {
  left: 0;
}
.previous:hover {
  color: white;

  opacity: 1;
}

/***** FOOTER *****/
/* All */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  clear: both;
  text-align: center;

  padding: 3%;

  width: 100%;
  max-height: 5%;
  line-height: 5%;

  font-size: 1.25em;

  color: white;
  background-color: #e54a1f;
}

/***** Media Queries *****/
/* TODO: Add Mobile Responsiveness */

/* Mobile - Small - 4 Column Layout */
@media screen and (max-width: 480px){
  .navbar {
    text-align: center;
    max-height: 8%;
  }
  #header-logo {
    max-width: 8%;
  }

  h1 {
    margin: 5%;
    font-size: 2em;
  }
}

/* Mobile - Medium - 8 Column Layout */
@media screen and (min-width: 480px) and (max-width: 840px){}

/* Mobile - Large - 12 Column Layout */
@media screen and (min-width: 840px){}
