.gallery-container {
  max-width: 75%;
  position: relative;
  margin: auto;
}

.current-image-dot {
  height: ;
  width: ;
  margin: ;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.current-image-dot:hover {
  background-color: #717172;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  overflow: auto;
}

.lightbox-content {
  
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
