/***** ALL *****/
body {
  margin: 0;

  font-family: 'Lato', sans-serif;
}

/* Grid System */
.row > .col {
  padding: 0 6px;
}

.row {
  display: block;
  max-width: 100%;
}

.col {}

/* Headings */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

/***** HEADER *****/
/* All */
.navbar {
  top: 0;
  position: absolute;

  margin: 0;
  padding: .5%;

  width: 100%;
  height: 10%;
  min-height: 60px;
  line-height: 80%;

  background: lightgray;
  border-bottom: 1px solid #444444;
}

/* Logo */
#header-logo {
  position: relative;
  float: left;

  padding-right: 1%;
  padding-left: 1%;

  width: 4%;
  min-width: 40px;
  max-width: 50px;
}

/* Title */
#header-title {
  text-align: center;

  -webkit-transform: translateX(-3%);
  -moz-transform: translateX(-3%);
  -ms-transform: translateX(-3%);
  -o-transform: translateX(-3%);
  transform: translateX(-3%);
}

/***** SEARCH *****/
/* All */
#search {
  text-align: center;

  margin-top: 100px;
  margin-bottom: 2%;
  padding-top: 2%;
}

/* Input */
#search-term {
  text-align: center;
  font-size: 1.25em;

  width: 35%;
  min-width: 300px;
  line-height: 2.5em;
  margin: 1%;
  padding: .3%;
  border: 2.5px dotted lightgrey;
  border-radius: 20px;
}

/***** GALLERY *****/
/* All */
#gallery-outer {
  margin: 0;
  text-align: center;
  /* border: 1px solid green; */
}

#gallery-inner {
  /* border: 1px solid blue; */
}

/* Title */
#gallery-title {
  padding: 2.5%;

  border-bottom: 1px solid #444444;
}

/* Thumbnails */
ul#gallery-thumbnails {
  display: inline-block;
  /* list-style: none; */
  width: 100%;
  max-width: 90%;
  text-align: center;
  /* border: 1px solid green; */
}

li.gallery-item {
  display: inline;

  list-style: none;
}

.gallery-thumbnail {
  /* text-align: center; */
  float: left;

  width: 10%;
  min-width: 100px;
  max-width: 40%;

  /* padding-top: 2%; */
  /* padding-bottom: 2%; */

  opacity: .6;
  transition: all .3s cubic-bezier(.10, .10, .25, .90);
}
.gallery-thumbnail:hover {
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.75s cubic-bezier(.10, .10, .25, .90);
}

img[data-src] {
  background-color: lightgrey;
  opacity: 0.1;
}


/***** LIGHTBOX *****/
/* All - Modal */
.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;

  padding-top: 10%;

  height: 100%;
  width: 100%;
  overflow: auto;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  transition: all .3s cubic-bezier(.10, .10, .25, .90);
}

#lightbox-content {
  max-width: 100%;
  max-height: 50%;
}

/* Slide */
.slide-img {
  max-width: 50%;
}
.slide-position {
  float: left;
  text-align: right;

  margin-left: 5%;
  padding: 1%;
}
.slide-title {
  text-align: center;
  display: inline-block;
  float: right;

  margin-right: 5%;
  padding-right: 1%;
  margin-bottom: 1%;

  color: lightgrey;
}

/* Close */
.close {
  position: absolute;
  top: 2%;
  right: 2%;

  font-size: 3em;
  font-weight: bold;

  color: #bbb;

  opacity: 0.6;
  transition: all 0.3s ease;
}
.close:hover {
  cursor: pointer;

  color: white;

  opacity: 1;
}

/* Prev / Next */
.previous,
.next {
  position: absolute;
  top: 40%;

  width: auto;
  padding: 16px;
  margin-top: -50px;

  cursor: pointer;

  font-size: 3em;
  font-weight: bold;

  color: #444444;

  transition: 0.4s ease;
  opacity: 0.7;

  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 20%;
}
.next:hover {
  color: white;

  opacity: 1;
}

.previous {
  left: 20%;
}
.previous:hover {
  color: white;

  opacity: 1;
}

/***** FOOTER *****/
/* All */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  clear: both;
  text-align: center;

  padding: 2%;

  width: 100%;
  max-height: 5%;
  min-height: 60px;
  line-height: 30px;

  font-size: 1.25em;

  color: white;
  background-color: #e54a1f;
}

/***** Media Queries *****/
/* TODO: Add Mobile Responsiveness */

/* Mobile - Small - 4 Column Layout */
@media screen and (max-width: 480px){
  .navbar {
    text-align: center;
    height: 75px;
    max-height: 15%;
  }
  #header-logo {
    max-width: 8%;
  }

  h1 {
    margin: 5%;
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }

  #search-term {
    margin-bottom: 2.5%;
    min-width: 75%;
    max-width: 75%;
  }
  #search-submit {
    min-width: 75%;
    max-width: 75%;
  }

  .close {
    right: 4%;
  }

  #lightbox-content {
    margin-top: 20%;
  }

  #lightbox-previous {
    top: 62%;
    left: 5%;
  }

  #lightbox-next {
    top: 63%;
    right: 5%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3%;
  }
}

/* Mobile - Medium - 8 Column Layout */
@media screen and (min-width: 480px) and (max-width: 840px){}

/* Mobile - Large - 12 Column Layout */
@media screen and (min-width: 840px){}
