/***** GALLERY *****/

/* All */
#gallery-outer {
  margin: 0;
  text-align: center;
}

#gallery-inner {
}

/* Title */
#gallery-title {
  padding: 2.5%;

  border-bottom: 1px solid #444444;
}

/* Thumbnails */
ul#gallery-thumbnails {
  display: inline-block;
  width: 100%;
  max-width: 90%;
  text-align: center;
}

li.gallery-item {
  display: inline;

  list-style: none;
}

.gallery-thumbnail {
  float: left;

  width: 10%;
  min-width: 100px;
  max-width: 40%;

  opacity: .6;
  transition: all .3s cubic-bezier(.10, .10, .25, .90);
}
.gallery-thumbnail:hover {
  cursor: pointer;

  opacity: 1;
}

img[data-src] {
  background-color: lightgrey;
  opacity: 0.1;
}

