/***** Media Queries *****/

/* Mobile - Small - 4 Column Layout */
@media screen and (max-width: 480px){
  /* ALL */
  h2 {
    font-size: 1.5em;
  }

  /* HEADER */
  .navbar {
    text-align: center;
    height: 75px;
    line-height: 60px;
    max-height: 15%;
  }
  #header-title {
    margin: 1%;
    font-size: 2em;
  }
  #header-logo {
    margin-top: 5px;
    margin-left: 10px;
    max-width: 8%;
  }

  /* GALLERY */
  #gallery-thumbnails.row {
    padding-bottom: 20%;
  }

  /* SEARCH */
  #search-term {
    margin-bottom: 2.5%;
    min-width: 75%;
    max-width: 75%;
  }
  #search-submit {
    min-width: 75%;
    max-width: 75%;
  }

  /* LIGHTBOX */
  .close {
    right: 4%;
  }
  .slide-image {
    width: 100%;
    max-width: 100%;
  }
  .slide-position {
    margin-left: -300px;
    margin-right: 2%;
  }

  #lightbox-content {
    margin-top: 20%;
  }
  #lightbox-previous {
    top: 57%;
    left: 5%;
  }
  #lightbox-next {
    top: 57%;
    right: 5%;
  }

  /* FOOTER */
  .footer {
    padding: 3%;
  }
}

/* Mobile - Medium - 8 Column Layout */
@media screen and (min-width: 480px) and (max-width: 840px){
  /* Header */
  #header-logo {
    float: left;

    margin-top: 7px;
    margin-left: 10px;
    margin-right: 50px;
    width: 8%;
  }
  /* GALLERY */
  #gallery-thumbnails.row {
    padding-bottom: 20%;
  }

  /* LIGHTBOX */
  #lightbox-previous {
    top: 70%;
  }
  #lightbox-next {
    top: 70%;
  }
}

/* Mobile - Large - 12 Column Layout */
@media screen and (min-width: 840px){
  /* Header */
  #header-logo {
    margin-top: 5px;
    margin-left: 10px;
    width: 8%;
  }
}
